{% extends 'index.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'global.css' %}" />
    <link rel="stylesheet" href="{%static 'DICOM.css'%}" />
    <link rel="stylesheet" href="{%static 'FreeText.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="dicom">
      <h3 class="heading">
        <b class="dicom-text-de-identification">Image De-Identification</b>
      </h3>
      <div class="input">
        <h3 class="input-window">Input Window</h3>
        <div class="inputframe">
          {% if old_load %}
          <img src="{% static "./public/input_img.jpg" %}" alt="output" class="inputimage" />
          {% endif %}
        </div>
      </div>
      <div class="output">
        <h3 class="input-window">Output Window</h3>
        <div class="inputframe">
          {% if old_load %}
          <img src="{% static "./public/masked_image.jpg" %}" alt="output" class="outputimage" />
          {% endif %}
        </div>
      </div>
      <form action="{% url 'image' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="uploadbutton" type="file" name="dicominput" autofocus />
        {% comment %} <button class="export6" style="position:absolute;left:400px;top:200px;height:3% " name="mask">
          <p class="export7">Mask</p>
        </button> {% endcomment %}
        <button class="export6" style="position:absolute;left:650px;top:200px;height:3%" name="mask">
          <p class="export7">Mask</p>
        </button>
        <button class="export" autofocus name="export-img">
          <p class="export1">Export</p>
        </button>
      </form>
    </div>
  </body>
</html>
{% endblock content %}
